<div class="autorization__wrapper">
  <form name="autorization" class="autorization__form" action="http://localhost:3080/test" method="post">
    <input type="phone" name="phone" class="autorization__input autorization__input_phone" placeholder="Введите телефон" />
    <input type="password" name="password" class="autorization__input autorization__input_password" placeholder="Введите пароль" />
    <input type="submit" class="autorization__button" value="Войти">
  </form>
  <div id="dataForm"></div>
</div>
